* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #f6f6f6;
  -webkit-font-smoothing: antialiased !important;
  background: rgb(65, 133, 244);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100vh;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
}

header img {
  margin-right: 20px;
}

.qr-reader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.qr-reader a {
  margin: 20px 0;
  padding: 10px;
  background: #f6f6f6;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #6ea0f2;
  border-radius: 10px;
  text-decoration: none;
  width: 100%;
  text-align: center;
  color: #333;
  cursor: pointer;
}

.qr-generator {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.qr-generator input {
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 10px;
  width: 95%;
  text-align: center;
  font-size: 16px;
}
