* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f6f6f6;
  color: #232331;
  -webkit-font-smoothing: antialiased !important;
}
